<!-- <app-navbar id="navbar" ></app-navbar>  -->


<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Trade Journal</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)='logoutUser()'>Sign out</a>
      </li>
    </ul>
  </nav>

<div class="container-fluid">
  <div class="row sidebar-sticky" id="mainContent">

    <div class="container-fluid col-md-2 d-none d-md-block bg-light sidebar"  id="sideBar">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav navbar-nav">
                <li routerLinkActive="active current">
                  <a class="nav-link" routerLink="account">Account</a>
                </li>
                <li routerLinkActive="active current">
                  <a class="nav-link" routerLink="journal">Journal</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>


    <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="dashboard">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>