<!-- <div class="content"> -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Shares</th>
      <th>Entry Price</th>
      <th>Entry Date</th>
      <th>Exit Price</th>
      <th>Exit Date</th>
      <th>Profit</th>
      <th>Gain/Loss</th>
      <th>Entry Net Amt</th>
      <th>Exit Net Amt</th>
      <th>
          <a class="btn btn-outline-success" (click) = 'AddOrEditOrderItem()'><i class="fa fa-plus-square"></i> Create New</a>
        </th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let entry of service.journalEntries">
              <td>{{ entry.stock_code }}</td>
              <td>{{ entry.shares }}</td>
              <td>{{ entry.entry_price }}</td>
              <td>{{ entry.entry_date | date : 'short'}}</td>
              <td>{{ entry.exit_price }}</td>
              <td>{{ entry.exit_date | date : 'short'}}</td>
              <td>{{ entry.profit }}</td>
              <td>{{ entry.gain_loss }}</td>
              <td>{{ entry.entry_net_amt }}</td>
              <td>{{ entry.exit_net_amt }}</td>
            </tr> -->
  </tbody>
</table>
<!-- </div> -->